{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Recettes de la communauté{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Recettes de la communauté</h1>

        {% if not recipes.items is same as ([]) %} {# Permet d'afficher qu'il n'y a pas d'ingrédients dans le tableau si la base est vide #}
        
        <div class="count">
            <small>Nombre de recettes : {{ recipes.getTotalItemCount }}</small>
        </div>

        <div class="d-flex justify-content-center flex-wrap">
        
            {% for recipe in recipes %}

                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Recette n°{{ recipe.id }}</div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{{ path('recipe.show', {id: recipe.id}) }}">
                                {{ recipe.name }}
                            </a>
                        </h4>
                        <p class="card-text">{{ recipe.description|slice(0, 100) ~ '...' }}</p>
                        {# Le filtre slice sert à couper la description si celle-ci est trop longue #}
                        {# Ici, la description est coupée après le 100ème charactère et il y a "..." à la fin #}
                    </div>
                </div>
                                    
            {% endfor %}
        
        </div>

        {% else %}
            <p>Il n'y a pas de recettes enregistrées...</p>
        {% endif %}

    </div>
    
{% endblock %}